#saved feature
/data/esmfeature
/data/pdbs
/data/lefeature
/data/dsspfeature
/data/graph
/data/graph_4A_12A
/data/skempi
/data/atom_graph
/data/graphfeat
#缓存
__pycache__/
#log
log/*
#model
models/saved/*
#tmp
tmp/
#files
test.py
take.py